.chatting {
    width: 550px;
    height: 900px;
    border: 0.5px;
    border-radius: 3px;
    background-color: #d4cfd3;
  }
  
.chat {
  padding: 0 0 0 19px;
  margin: 0 0 0 30px;
  background-clip: padding-box;
  overflow: overlay;
  direction: rtl;
  border-radius: 3px;
}

.chat:focus-within {
  outline: none;
  /* background-color: #c424c4; */
  opacity: 0.85;
  border-radius: 3px;
  background-clip: content-box;
}

.chat::-webkit-scrollbar {
  width: 1vw;
  background-color: transparent;
  background: transparent;
  opacity: 0;
}

.chat::-webkit-scrollbar-thumb {
  background-color: #d4cfd3;
  border-radius: 100px;
  height: 30%;
}

.inputdata {
  border: 0.1px solid rgb(0, 0, 0);
  /* background: transparent; */
  border-radius: 3px;
  position: fixed;
  direction: ltr;
  width: "550px";
  height: "28px";
  margin: "8px 0px 0px 0px";
  color: "red";
  font-family: "koverwatch";
  font-size: "28px";
}

.fontwei{
  margin: "7px 0px 0px 10px";
  font-family: "koverwatch";
  font-size: 23px;
  color: "#01befa";
  direction: "ltr";
}
  